html{
    font-size: 62.5%;
}

header{
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.profile-picture{
    background-color: rgb(250,247,247);
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}

.fa-brands{
    font-size: 5rem;
    padding-right: 1rem;
    padding-left: 0rem;
    padding-top: 2.5rem;
}

.fa-regular{
    font-size: 2rem;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /*Keeps the content on a single line*/
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.social-media-footer{
    display: flex; 
    justify-content: end;
}

.show-off{
    background-color: white;
    height: auto;
}

.vertical-line{
    height: 100%;
    width: 100%;
    border-left: 4px solid black;    
}

.projects{
    margin-top: 3rem;
    width: 100%;
    /* border: 1px solid red; */
}

.projects-branch{
    display: flex; 
    justify-content: flex-end;
    width: 35%;
    /* border: 1px solid saddlebrown; */
}

.projects-content{
    margin-left: 35%;
    border-left: 3px solid black;
    border-radius: 3px;
}

.projects-design{
    background-color: rgb(250,247,247);
    margin-right: 1.5rem;
    padding: 1.5rem;
    border-radius: 15px;
}

.projects-details{
    background-color: rgb(250,247,247);
    border-radius: 15px;
    padding: 1.5rem;
}

.projects-caption{
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    color: grey;
}

hr {
    border: none; /* Remove the default border */
    height: 2px; /* Set the height of the line */
    background-color: black; /* Set the background color of the line */
}


@media (max-width: 768px) {
    .typewriter h1 {
        white-space: wrap;
    }
    .about-me{
        padding-top: 3rem;
    }
    .social-media-footer{
        justify-content: left;
        padding: 0rem;
    }
}



 