html {
  font-size: 62.5%;
}
header {
  font-size: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}
header ul {
  display: flex;
  justify-content: start;
}
header ul li {
  padding-right: 1.5rem;
  list-style-type: none;
}
header ul li a {
  font-family: "Unna", serif;
  font-size: 2rem;
  font-weight: 900;
  color: grey;
  text-decoration: none;
}
.navbar-text {
  font-weight: 900;
  font-size: 3rem;
  font-family: "Cedarville Cursive", "cursive";
}

.profile-picture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem 3rem;
  background-color: rgb(250, 247, 247);
  padding: 3rem 5rem;
}

.profile-picture img{
  width: 100%;
  height: auto;
}

.about-me-details{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  font-size: 5rem;
  padding-right: 1rem;
  padding-left: 0rem;
  padding-top: 2.5rem;
}

.mailto {
  margin-top: 1.5rem;
  padding: 2rem;
  background-color: white;
  width: 140px;
  border-radius: 20px;
}

.mailto a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 800;
  color: grey;
  font-family: "Unna", serif;
  font-style: normal;
}

.fa-regular {
  font-size: 2rem;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /*Keeps the content on a single line*/
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.social-media-footer {
  display: flex;
  justify-content: end;
}

.show-off {
  padding: 3rem 5rem;
  background-color: white;
  height: auto;
}

.vertical-line {
  height: 100%;
  width: 100%;
  border-left: 4px solid black;
}
.projects {
  margin-top: 3rem;
  width: 100%;
}
.projects-branch {
  display: flex;
  justify-content: flex-end;
  width: 35%;
}
.projects-content {
  margin-left: 35%;
  border-left: 3px solid black;
  border-radius: 3px;
}

.projects-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects-grid-container img{
  width: 100%;
  height: auto;
}

.projects-design {
  background-color: rgb(250, 247, 247);
  margin-right: 1.5rem;
  padding: 1.5rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-details {
  background-color: rgb(250, 247, 247);
  border-radius: 15px;
  padding: 1.5rem;
}

.projects-caption {
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
}

hr {
  border: none; /* Remove the default border */
  height: 2px; /* Set the height of the line */
  background-color: black; /* Set the background color of the line */
}


footer{
  background-color: rgb(250, 247, 247);
  padding: 3rem 5rem;
}


@media (max-width: 768px) {
  .typewriter h1 {
    white-space: wrap;
  }
  .about-me {
    padding-top: 3rem;
  }
  .social-media-footer {
    justify-content: left;
    padding: 0rem;
  }
  .projects-details {
    margin-top: 2rem;
  }
  .profile-picture{
    grid-template-columns: 1fr;
  }
  .projects-grid-container{
    grid-template-columns: 1fr;
  }
}
